{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
    
        <!-- Title Page-->
        <title>Add Costs</title>
    
        <!-- Fontfaces CSS-->
        <link href="{% static 'BP_resources/css/font-face.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    
        <!-- Bootstrap CSS-->
        <link href="{% static 'BP_resources/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    
        <!-- Vendor CSS-->
        <link href="{% static 'BP_resources/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    
        <!-- Main CSS-->
        <link href="{% static 'BP_resources/css/theme.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/css/sidebar.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/css/header.css' %}" rel="stylesheet" media="all">
    
    </head>

<body >
    <div >


        <!-- PAGE CONTAINER-->
        <div >
            <!-- HEADER DESKTOP-->
       
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="container">
                    <div>
                        
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Add Costs</h5>
                              {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-warning">
                                          <strong style="color: black;">{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endif %}
                          {% if  request.user.bp_attorneystaff_userprofile.account_type == 'AttorneyStaff' %}
                          {% if not cost_obj %}
                          <form method="POST" action="{% url 'bp-addCosts' client.id case.id -1 %}">
                              {% csrf_token %}
                              <div class="mb-3 row">
                                <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Date Due</label>
                                <div class="col-sm-10">
                                <input type="date"  class="form-control" name="date" id="date"></input>
                                </div>
                            </div>
                              <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Payee</label>
                                  <div class="col-sm-10">
                                  <input type="text"  class="form-control" name="payee" id="payee"></input>
                                  </div>
                              </div>
                                  <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Invoice Number</label>
                                  <div class="col-sm-10">
                                  <input type="text"  class="form-control" name="invoice_number" id="invoice_number"></input>
                                  </div></div>

                                  <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Amount</label>
                                    <div class="col-sm-10">
                                    <input type="number" step=".01"  class="form-control" name="amount" id="amount"></input>
                                    </div></div>

                                    <div class="mb-3 row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label fw-bold">Paid By</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" name="paid_by" id="paid_by" aria-label="Default select example">
                                                
                                                
                                                <option selected value="Credit Card">Credit Card</option>
                                                <option value="Check">Check</option>
                                                
                                              </select>
                                    </div>
                                    </div>

                                    <div class="mb-3 row">
                                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Check Number</label>
                                    <div class="col-sm-10">
                                    <input type="text"  class="form-control" name="check_number" id="check_number"></input>
                                    </div></div>

                                    <div class="mb-3 row">
                                        <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Memo</label>
                                        <div class="col-sm-10">
                                        <input type="text" class="form-control"  name="memo" id="memo"></input>
                                    </div></div>

                                    <div class="mb-3 row">
                                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Check Date</label>
                                    <div class="col-sm-10">
                                    <input type="date"  class="form-control" name="check_date" id="check_date"></input>
                                    </div></div>

                                    <div class="mb-3 row">
                                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Final Amount</label>
                                    <div class="col-sm-10">
                                    <input type="number" step=".01" required class="form-control" name="final_amount" id="final_amount"></input>
                                    </div></div>
                                    <button  class="btn btn-primary" type="submit">Add Cost</button>
                              </div>
          
                          
                              
                            </form>
                        {% else %}
                        <form method="POST" action="{% url 'bp-addCosts' client.id case.id cost_obj.id %}">
                            {% csrf_token %}
                            
                            <div class="mb-3 row">
                                <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Date Due</label>
                                <div class="col-sm-10">
                                <input type="date" required class="form-control" value="{{cost_obj.date}}" name="date" id="date"></input>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Payee</label>
                                <div class="col-sm-10">
                                <input type="text"  class="form-control" value="{{cost_obj.cheque.payee}}" name="payee" id="payee"></input>
                                </div>
                            </div>
                                <div class="mb-3 row">
                                <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Invoice Number</label>
                                <div class="col-sm-10">
                                <input type="text" required class="form-control" value="{{cost_obj.invoice_number}}" name="invoice_number" id="invoice_number"></input>
                                </div></div>
                                {% if cost_obj.cheque %}
                                <div class="mb-3 row">
                                <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Amount</label>
                                  <div class="col-sm-10">
                                  <input type="number" step=".01" required value="{{cost_obj.cheque.amount}}" class="form-control" name="amount" id="amount"></input>
                                  </div></div>
                                {% else %}
                                <div class="mb-3 row">
                                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Amount</label>
                                      <div class="col-sm-10">
                                      <input type="number" step=".01" required value="{{cost_obj.amount}}" class="form-control" name="amount" id="amount"></input>
                                      </div></div>
                                {% endif %}

                                  <div class="mb-3 row">
                                      <label for="inputEmail" class="col-sm-2 col-form-label fw-bold">Paid By</label>
                                      <div class="col-sm-10">
                                          {% if cost_obj.cheque.cheque_number %}
                                          <select class="form-select" value="{{cost_obj.paid_by}}" name="paid_by" id="paid_by" aria-label="Default select example">
                                              
                                            <option selected value="{{cost_obj.paid_by}}">{{cost_obj.paid_by}}</option>
                                          
                                          
                                        </select>
                                          {% else %}
                                          <select class="form-select" value="{{cost_obj.paid_by}}" name="paid_by" id="paid_by" aria-label="Default select example">
                                              
                                            <option selected value="{{cost_obj.paid_by}}">{{cost_obj.paid_by}}</option>
                                          <option value="Credit Card">Credit Card</option>
                                          <option value="Check">Check</option>
                                          
                                        </select>
                                          {% endif %}
                                          
                                  </div>
                                  </div>

                                  <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Check Number</label>
                                  <div class="col-sm-10">
                                  <input type="text" value="{{cost_obj.cheque.cheque_number}}"  class="form-control"  name="check_number" id="check_number"></input>
                                  </div></div>

                                  <div class="mb-3 row">
                                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Memo</label>
                                    <div class="col-sm-10">
                                    <input type="text" value="{{cost_obj.cheque.memo}}"  class="form-control"  name="memo" id="memo"></input>
                                    </div></div>

                                  <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Check Date</label>
                                  <div class="col-sm-10">
                                  <input type="date"  class="form-control" value="{{cost_obj.cheque.cheque_date}}" name="check_date" id="check_date"></input>
                                  </div></div>

                                  <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Final Amount</label>
                                  <div class="col-sm-10">
                                  <input type="number" step=".01" value="{{cost_obj.final_amount}}" required class="form-control" name="final_amount" id="final_amount"></input>
                                  </div></div>
                                  <button  class="btn btn-primary" type="submit">Add Cost</button>
                            </div>
                        
                        
                            
                          </form>
                        {% endif %}
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            Only firm users can add the costs!
                          </div>
                        {% endif %}  
                            </div>
                          </div>
                            
                    </div>  
                       
        
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'BP_resources/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'BP_resources/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'BP_resources/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'BP_resources/js/main.js' %}"></script>


</body>

</html>
<!-- end document-->
