{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!--  meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
    
        <!-- Title Page-->
        <title>Add Client</title>
    
        <!-- Fontfaces CSS-->
        <link href="{% static 'BP_resources/css/font-face.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    
        <!-- Bootstrap CSS-->
        <link href="{% static 'BP_resources/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    
        <!-- Vendor CSS-->
        <link href="{% static 'BP_resources/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    
        <!-- Main CSS-->
        <link href="{% static 'BP_resources/css/theme.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/css/sidebar.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'BP_resources/css/header.css' %}" rel="stylesheet" media="all">
        
 

    
</head>
    

<body >
    
    <div >

        
        <!-- PAGE CONTAINER-->
        <div >
            <!-- HEADER DESKTOP-->
       
            <!-- HEADER DESKTOP-->
           
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="container">
                    <div>
                        
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Edit Injury Data</h5>
                              
                          <form method="POST">
                              {% csrf_token %}
                          
                              <div class="mb-3 row">
                                  <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Note</label>
                                  <div class="col-sm-10">
                                  <input type="text" required class="form-control" name="note" id="note">
                                  </div>
                              </div>
          
                              <!-- <div class="mb-3 row">
                                  <label for="inputEmail" class="col-sm-2 col-form-label fw-bold">Role:</label>
                                  <div class="col-sm-10">
                                      <select class="form-select" name="account_type" aria-label="Default select example">
                                          
                                          <option selected value="Provider">Medical Provider</option>
                                          <option value="Attorney">Attorney</option>
                                          <option value="Marketer">Marketer</option>
                                          
                                        </select>
                                  </div>
                              </div> -->
          
          
                              
                              <div class="mb-3 row">
                                <label for="inputEmail" class="col-sm-2 col-form-label fw-bold">Provider</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="provider" id="provider" aria-label="Default select example">
                                        <option selected >--Select Provider & Specialty---</option>
                                        {% for case_provider in case_providers %}
                                        <option value="{{case_provider.id}}">{{case_provider.location.added_by.providerprofile.office_name}} - {{case_provider.specialty.name}}</option>
                                       
                                        {% endfor %}
                                      </select>
                                </div>
                                </div>

                              <button  class="btn btn-primary" type="submit">Save</button>
                            </form>
                            
                            </div>
                          </div>
                            
                    </div>  
                       
        
                </div>
            </div>
        </div>

    </div>
    
    
    <!-- Jquery JS-->
    <script src="{% static 'BP_resources/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'BP_resources/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'BP_resources/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'BP_resources/js/main.js' %}"></script>


</body>

</html>
<!-- end document-->
