{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'BP_resources/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'BP_resources/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'BP_resources/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'BP_resources/css/theme.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/css/sidebar.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'BP_resources/css/header.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition homepage">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
 
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->

        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'BP/header.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <form action="{% url 'bp-navigator' %}" method="post" id="myform">
                            {% csrf_token %}
                            <input type="text" name="name1" id="name1" hidden>
                        </form>
                        <div class="row">
                            <div class="col-lg-12 top-head">
                                <h2><img src="{% static 'BP_resources/images/icon/Vector-nav.png' %}">Case Navigator <span>/ Click A Number on The Grid To See Cases in That Category</span></h2>
                                <ul>
                                <li><a href="#" onclick="clickButton('Case Age')">Case Age</a></li>
                                <li><a href="#" onclick="clickButton('Case Type')">Case Type</a></li>
                                <li><a href="#" onclick="clickButton('Case Category')">Case Category</a></li>
                                <li><a href="#" onclick="clickButton('Case Value')">Case Value</a></li>
                                <li><a href="#" onclick="clickButton('Case Injuries')">Injuries</a></li>
                                <li><a href="#" onclick="clickButton('Total Damages')">Total Damages</a></li>
                                <li><a href="#" onclick="clickButton('Medical Providers')">Medical Providers</a></li>
                                <li><a href="#" class="active"  onclick="clickButton('Case Stage')">Case Stage</a></li>
                                </ul>
                                <h2 class="title-1 m-b-25">Case Stage</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    {% if check %}
                                        <div class="alert alert-danger" role="alert">
                                            This page is for Firm users only!
                                        </div>
                                    {% else %}
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    {% for key, value in data.items %}
                                                        <th class="text-center">{{key}}</th>
                                                    {% endfor %}
                                                    <!-- <th>5 Days</th>
                                                    <th>1 week</th> -->
                                                    <!-- <th class="text-right">2 weeks</th>
                                                    <th class="text-right">3 weeks</th>
                                                    <th class="text-right">1 Month</th>
                                                    <th class="text-right">2 Months</th>
                                                    <th class="text-right">3 Months</th>
                                                    <th class="text-right">6 Months</th>
                                                    <th class="text-right">1 Year</th>
                                                    <th class="text-right">2 Years</th>
                                                    <th class="text-right">2 Years or More</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{user_type}}</td>
                                                    {% for col in columns %}
                                                        {% for key, value in data.items %}
                                                            {% if key == col %}
                                                                <td class="text-center">{{value}}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                    
                                                </tr>
                                                
                                            
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                            </div>
                        </div>  
                       
                    <div class="col-lg-6"> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2022 Ian Silverthorne</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'BP_resources/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'BP_resources/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'BP_resources/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'BP_resources/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'BP_resources/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'BP_resources/js/main.js' %}"></script>
    <script>
        function clickButton(temp){
            
            document.getElementById('name1').value = temp
            console.log(document.getElementById('name1').value);
            document.getElementById("myform").submit();
        }
    </script>

</body>

</html>
<!-- end document-->
