<div class="container" style="background-color: white;">
    <footer class=" mt-5" >
        <div class="row">
            <div class="col-sm-12 col-lg-7 col-md-7">
                <a href="{% url 'home' %}" class="footer-icons">Home</a>
                <a href="{% url 'aboutus' %}" class="footer-icons">About Us</a>
                <a href="{% url 'attorneyInfo' %}" class="footer-icons">Attorney Information</a>
                <a href="{% url 'medicalProviders' %}" class="footer-icons">Medical Providers - List Your Office For Free</a>
                <a href="{% url 'marketerInfo' %}" class="footer-icons">Marketer</a>
            </div>
            <div class="col">
                <a href="{% url 'privacy' %}" class="footer-icons">Privacy Policy</a>
                <a href="{% url 'contactus' %}" class="footer-icons">Contact Us</a>
            </div>
        </div>

    </footer>
    
</div>