{% extends "accounts/base.html" %}
{% load static %}
{% block pagetitle %}
    Treatment First - Provider Details
{% endblock pagetitle %}
{% block content %}

    <div class="row py-5 px-3">
        <div class="col-lg-4 col-md-4 col-xs-4">
            {% if userprofile.providerprofile.account_type == 'Provider' or request.user.providerstaff_userprofile.account_type == 'ProviderStaff' %}
                <a href="{% url 'accountdetails' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Account Details</a> <br><br>
                <a href="{% url 'profile' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Locations</a> <br><br>
                <a href="{% url 'providerdetails' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Provider Details</a><br><br>
                <a href="{% url 'provider_firm_users' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Firm Users</a> <br><br>
            {% elif userprofile.attorneyprofile.account_type == 'Attorney' or request.user.attorneystaff_userprofile.account_type == 'AttorneyStaff' %}
                <a href="{% url 'accountdetails_attorney' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Account Details</a> <br><br>
                <a href="{% url 'firm_users' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Firm Users</a> <br><br>
                <a href="{% url 'attorney_profile' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Favorites</a><br><br>
                <a href="{% url 'blacklist' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Blacklist</a><br><br>
                <a href="{% url 'flagged_users' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Flagged Providers</a><br><br>
                <a href="{% url 'provider_reviews' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Provider Reviews</a><br><br>
            {% elif userprofile.marketerprofile.account_type == 'Marketer' or request.user.marketerstaff_userprofile.account_type == 'MarketerStaff' %}
                <a href="{% url 'accountdetails_marketer' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Account Details</a> <br><br>
                <a href="{% url 'marketer_firm_users' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Firm Users</a> <br><br>
                <a href="{% url 'marketer_profile' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Favorites</a><br><br>
                <a href="{% url 'marketer_blacklist' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Blacklist</a><br><br>
                <a href="{% url 'marketer' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Marketer</a><br><br>
                <a href="{% url 'marketer_provider_reviews' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Provider Reviews</a><br><br>
            {% endif %}
            {% if not request.user.marketerstaff_userprofile.account_type == 'MarketerStaff' and not request.user.providerstaff_userprofile.account_type == 'ProviderStaff' and not request.user.attorneystaff_userprofile.account_type == 'AttorneyStaff' %}
                <a href="{% url 'multipleusers' %}" style="text-decoration: none; padding:10px 5px 10px 5px;">Add Users</a> <br><br>
            {% endif %}
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8">
            
            
            
            <h4>Basic Information</h4>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Provider Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control"  name="description" id="description" rows="3">{{userprofile.description}}</textarea>
                    </div>
                    
                </div>

                <div class="mb-3 row">
                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Website</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{userprofile.website}}" name="website" id="website">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Facebook Page</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{userprofile.fb_page}}" name="fb_page" id="fb_page">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Twitter Page</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{userprofile.twitter_page}}" name="twitter_page" id="twitter_page">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputUsername" class="col-sm-2 col-form-label fw-bold">Google+ Page</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{userprofile.google_page}}" name="google_page" id="google_page">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
        
    </div>

{% endblock content %}