/* farrukh code */
.checklist-section::after {
  border-left: 11.31px solid white;
}
.text-darker{
    color: #000 !important;
}
.checklist-pink{
    top: -5px !important;
    width: 302px !important;
    margin-right: -20px;
}
.checklist-pink{
    background-color: #F5E8E9 !important;
}
.checklist-pink::after {
    border-top: 53px solid #F5E8E9 !important;
    display: block !important;
  }
  #myDropdown86, #myDropdown87{
    top: 54px !important;
    position: absolute;
  }
  .photos-page .section__content--p30 {
    padding: 0 5px !important;
  }
  .checklist-pink {
    top: 0px !important;
    width: 290px !important;
    margin-right: 6px !important;
  }
  .main-content {
    /* padding-top: 117px !important; */
    min-height: 100vh !important;
  }
  .pink-checklist-multi-dropdowns {
    right: 16px !important;
    width: 283px !important;
  }
  .top-pane {
    position: absolute;
    right: 350px;
    top: -53px !important;
  }
  .top-head h2 {
    margin-left: -15px;
    position: relative;
  }
  /* .main-content {
    padding-top: 0px !important;
  } */
  .client-page .page-container {
    padding-left: 190px;
    background: #fff;
  }
  .section__content--p30 {
    padding: 0 5px !important;
    margin-top: -1px;
  }
  .client-details-wrap{
    padding: 5px 5px 0 5px;
    height: 50px !important;
    overflow: hidden;
  }
  .client-details-wrap a{
    color: #000;
    font-size: 15px;
    font-weight: 600;
  }
  .client-details-wrap .email{
    color: #0a3761 !important;
  }
  .client-details-wrap small{
    font-size: 13px !important;
    color: #000 !important;
    line-height: 16px !important;
    margin-top: -2px !important;
  }
  
  .client-details-wrap small i{
    color: #999;
    font-style: normal;
    font-weight: 600;
  }
  .last-row-details small i{
    float: left;
    overflow: hidden;
    text-align: right;
    width: 50px !important;
  }
  .clienthead{
    padding: 0 !important;
  }
  .columnsContainer2 p {
    margin-bottom: 0px !important;
  }
  .columnsContainer2 > div form {
    position: relative !important;
  }
  .client-page .table-earning tbody td {
    padding: 5px 15px !important;
  }
  #w3review {
    height: 134px !important;
    padding-left: 5px !important;
    padding-top: 0px !important;
    font-size: 15px;
    margin-bottom: 2px !important;
  }
  .table-responsive.table--no-card thead tr, .table thead th {
    border-bottom: none !important;
    border-top: none !important;
  }
  ::placeholder{
    color: #666 !important;
  }
  .table-earning tbody tr td:nth-child(1) {
    color: #808080;
  }
  
  .photos-page .nav-link.active {
    color: #0a3761;
    text-decoration: underline;
  }
  .columnsContainer2{
  }

  /* Defendants and other pages css */
  .top-input-field .form-control {
    height: 45px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 6px;
    display: inline-block;
  }
  .top-input-field{
    margin: 7px 5px;
  }
  .top-input-field button {
    background: #0a3761;
    color: #fff;
    padding: 10px 25px;
    border-radius: 40px;
    margin-left: 20px;
  }
  .super-hero-img{
    width: 140px;
    height: 110px;
  }
  .super-hero-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .checklist-pink::after {
    border-top: 49px solid #F5E8E9 !important;
  }
  .checklist-pink {
    margin-right: -1px !important;
  }
  .add-button {
    position: absolute;
    right: 47%;
    top: 6px;
    bottom: 7px;
    transform: translateX(-50%);
  }
  /* .add-button::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #093761;
    position: absolute;
    left: -9px;
    top: -1px;
    z-index: 1000;
  }
  .add-button::after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #093761;
    position: absolute;
    right: -9px;
    top: 0px;
    z-index: 1000;
  } */
  .add-button .btn {
    background-color: #093761;
    color: #fff;
    border-radius: 0px;
  }
  .add-button-litigation::after {
    right: -9px !important;
  }
  .add-button-litigation{
    position: absolute !important;
  left: 58% !important;
  right: auto !important;
  top: 3px !important;
  bottom: 7px !important;
  }
  .social-span-wrap{
    font-size: 12px;
  overflow: hidden;
  background-color: #eee;
  border-color: #eee;
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 4px !important;
  position: relative;
  }
  .social-span-wrap span{
    color: #333 !important;
    padding-left: 27px;
  }
  .social-span-wrap img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  