.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

.Col {
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
}

.standardSpc {
    margin-left: 5px;
    margin-right: 5px;
}

.johnText {
    color: black
}

.wf {
    border: none
}


.roundImage {
    border-radius: 50px;
    width: 55px;
    height: 55px;
}

.fa-chevron-down {
    color: #093761
}

.checklistAngle {
    width: 107%;
    height: 53px;
    max-width: 290px;
    background: url("../images/icon/Rectangle-orange.png");
    display: flex;
    padding: 10px 10px 10px 10px;
    align-items: center;
    background-size: 100% 90%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
}

.top-head h2 {
    margin-left: 0px !important;
}

.columnsContainer2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    margin: 0;
}

.columnsContainer2>div {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: none;
    min-width: 300px;
    height: 205px;
    padding-left: 0px;
    margin-right: 5px;
    text-align: center;
    line-height: 0px;
    font: 12px arial;
    background-color: white;
}

.columnsContainer2>div .select-letter-template {
    width: 100%;
    margin-top: 15px;
}

.colFonts {
    font: 14px poppins;
    margin-bottom: 3px;
    color: black;
}


.grayPanelWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F7F8FA;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #F7F8FA;
}

.grayPanelWrap>div {
    display: flex;
    flex-direction: row;
    background-color: #F7F8FA;
    border: none;
    width: 99%;
    height: 29px;
    margin: 0.5px;
    text-align: center;
    border: none;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.625;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

.grayPanelHeadings {
    text-align: right;
    font-size: 14px;
}

.colWidth {
    width: 236px;
}

.colHeight {
    width: 200px
}

.noneMargin {
    margin-bottom: 35px;
}




.chiroLineWrap {
    display: flex;
    flex-wrap: nowrap;
}

.chiroLine {
    border: none;
    background-color: red;
    width: 100%;
    height: 0.1px;
    margin-right: 5px;
    margin-left: 5px;
}

.redtd {
    position: inherit;
    top: 1px;
    width: 1290px;
    margin-bottom: 0px;
    border: none
}

.redtd2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F7F8FA;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    background-color: #F7F8FA;
}


/* @media (max-width: 2560px) and (max-height: 1440px) and (min-resolution: 120dpi) {

    .colWidth {
        width: 374px;
    }

    .noneMargin {
        margin-bottom: 16px;
    }

    .columnsContainer {
        width: 2280px;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .secondColumnsContainer {
        margin-bottom: 5px;
        width: 2280px;
        border: none
    }

    .thirdColumnsContainer {
        width: 2280px;
        border: none
    }

    .redtd {
        position: inherit;
        top: 1px;
        width: 101%;
        margin-bottom: 0px;
        border: none
    }

    .bg-gray {
        position: absolute;
        left: 5px;
        height: 125px;
        width: 2280px
    }
}



@media (max-width: 1920px) and (max-height: 1080px) {
    .colWidth {
        width: 203.3333px;
    }

    .noneMargin {
        margin-bottom: 16px;
    }

    .columnsContainer {
        width: 1840px;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .secondColumnsContainer {
        margin-bottom: 5px;
        width: 1840px;
        border: none
    }

    .thirdColumnsContainer {
        width: 1840px;
        border: none
    }

    .redtd {
        position: inherit;
        top: 1px;
        width: 1246px;
        margin-bottom: 0px;
        border: none
    }

    .bg-gray {
        position: absolute;
        left: 4px;
        height: 125px;
        width: 1245px
    }

}





 */



.medicText {
    position: absolute;
    margin-bottom: 0px;
    top: -27px;
}



.searchBarWrap {
    height: 45px;
    border-radius: 0px;
    z-index: 0;
}

.angleMeter {
    display: none;
    z-index: 1;
    position: absolute;
    top: 8.5%;
    left: 25.6%;
    width: 55px;
    height: 5px;
    background-color: red;
    transform: rotate(62deg);
}


.belowHeader {
    top: 0px;
    right: 0px;
    height: 55px;
    width: 100%;
    background-color: #093761;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
    /* margin:0 */
}

.belowHeader:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 50px solid white;
    border-right: 26px solid #093761;
    outline: none;
    width: 0;
}


.checkList1 {
    position: absolute;
    width: 320px;
    height: 50px;
    top: 20px;
    right: 0px
}

.checkListRatio {
    margin-left: 30px;
    margin-top: 10px;
    width: 40px;
    height: 40px
}

.chiroUnderline {
    border: none;
    background-color: red;
    width: 1410px;
    height: 0.1px
}

.columnsTitle {
    font: bold 13px arial;
    color: #222;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.colTitleUnderline {
    width: 100%;
    height: 1px;
    background-color: #222;
    margin-bottom: 3px;
}

.colText {
    margin-bottom: 5px;
    font: 14px poppins;
    color: black;
}

.documentIcon {
    width: 51px;
    height: auto;
    border: solid 1px lightgray;
    border-radius: 4px;
    background-color: #f5e9e9;
    margin-bottom: 5px;
    padding: 5px;
}

.documentIcon:hover {
    background-color: #F0F8FF;
}

.docIconForm {
    font: 12px arial;
    height: 37px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.iconTextWrap {
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

/* farrukh code */
.text-darker {
    color: #000 !important;
}

.checklist-pink {
    top: -5px !important;
    width: 302px !important;
    margin-right: -20px;
}

.checklist-pink {
    background-color: #F5E8E9 !important;
}

.checklist-pink::after {
    border-top: 52px solid #F5E8E9 !important;
}

#myDropdown86,
#myDropdown87 {
    top: 54px !important;
    position: absolute;
}

.three-view-icons {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
}

.three-icons,
.three-icons img {
    display: inline-block;
    width: 22px !important;
    padding: 0 !important;
}

.top-pane {
    position: absolute;
    right: 350px !important;
    top: -34px !important;
    display: none;
}

.columnsContainer2 p {
    margin-bottom: 5px !important;
}

.three-icons.active {
    background-color: #093761;
}

.three-icons.active img {
    filter: brightness(0) invert(1);
}

.um-limit-field {
    position: relative;
}

.um-limit-field span {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-lg .modal-content .modal-body p.text-secondary {
    color: #000 !important;
}

.modal-lg .modal-content .modal-body p {
    color: #666 !important;
}


@media (max-width: 2100px) {
    .columnsContainer2 {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .columnsContainer2 .flexStart {
        flex: none;
        width: calc((100% - 15px) / 3);
        margin-bottom: 5px;
    }
}

#notes-form #w3review {
    width: 100% !important;
}

.medicaltreatment-checklist .dropdown-content {
    top: 51px;
    right: 0;
    width: 279px;
    padding: 14px 23px 0;
    background: none;
    background-color: #fff8f9;
}

.medical-pg .medicaltreatment-checklist {
    top: -3px !important;
    padding-left: 12px;
}

.medical-pg .medicaltreatment-checklist>.text-darker {
    text-align: center;
    width: 46px;
}

.medical-pg .medicaltreatment-checklist .dropdown6 {
    width: 148px;
}

.medical-pg .medicaltreatment-checklist .circlechart {
    margin: 0px !important;
}