.menu-sidebar{
  width: 190px !important
}
.sidebar-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(100% - 725px);
  background-color: #093761;
}
.menu-sidebar {
  width: 185px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f7f8fa;
}
.menu-sidebar {
  overflow: hidden;
}
.menu-sidebar .logo {
  background: #093761;
  height:75px;
  width: 190px;
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 0px solid #e5e5e5;
  position: relative;
  z-index: 3;
}
.menu-sidebar .logo img{
  width: 190px;
}
.menu-sidebar__content, .navbar-sidebar, .navbar__list{
  overflow: hidden;
}
.menu-sidebar__content {
  position: relative;
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
}

.navbar-sidebar{
  padding: 0;
  background-color: #093761;
  height: 100%;
}
.navbar__list>li {
  width: 100%;
  height: 33px;
  font-size: 8px;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1 !important;
  position: relative;
}

.navbar-sidebar .navbar__list li a {
  display: block;
  color: #777777;
  font-size: 16px !important;
}

.navbar-sidebar .navbar__list li:hover a{
  color: #093761;
}
.navbar-sidebar .navbar__list li a img {
  width: 100%;
  max-width: 25px;
  vertical-align: middle;
  padding-right: 10px;
  margin-right: -5px;
  margin-top: -4px;
}

.navbar__list>li>a>img {
  margin-left: 5px;
}
.navbar__list > li:hover .blueSpace{
  background-color: #fff !important;
  height: 33px;
  border-bottom: 1px solid #093761;
}
.navbar__list > li:hover{
  background-color: #fff !important;
}
.navbar-sidebar .navbar__list li.active{
  background-color: #fff !important;
  margin-top: 3px;
  outline: 4px solid #093761;
  margin-bottom: 4px;
}
.navbar-sidebar .navbar__list li.active .blueSpace{
  background-color: #fff !important;
  height: 33px !important;
  border: 0px !important;
  z-index: 100;
}

.blueSpace {
  width: 5px;
  height: 35px;
  background-color: #093761;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.navbar-sidebar .navbar__list li.active a{
  color: #093761;
}
.navbar-sidebar .navbar__list li.active {
  border: none !important;
}